# appdirs==1.4.4
# audioread==2.1.9
# certifi==2020.12.5
# cffi==1.14.5
# chardet==4.0.0
# click==7.1.2
# configparser==5.0.2
# cycler==0.10.0
# decorator==5.0.7
# docker-pycreds==0.4.0
# filelock==3.0.12
# gitdb==4.0.7
# GitPython==3.1.14
# # h5py
# idna==2.10
# importlib-resources==5.10.0
# joblib==1.2.0
# kiwisolver==1.3.1
# librosa==0.8.0
# llvmlite
# matplotlib==3.4.1
# numba
# numpy==1.22.0
# packaging==20.9
# pandas==1.2.4
# pathtools==0.1.2
# Pillow==9.0.1
# pooch==1.3.0
# promise==2.3
# protobuf==3.18.3
# psutil==5.8.0
# pycparser==2.20
# pyparsing==2.4.7
# python-dateutil==2.8.1
# pytz==2021.1
# PyYAML
# regex==2021.4.4
# requests==2.25.1
# resampy==0.2.2
# sacremoses==0.0.45
# scikit-learn
# scipy
# sentry-sdk
# shortuuid
# six
# smmap==4.0.0
# SoundFile==0.10.3.post1
# subprocess32==3.5.4
# threadpoolctl==2.1.0
# tokenizers
# --find-links https://download.pytorch.org/whl/torch_stable.html
# torch==1.8.1+cu111
# torchaudio==0.8.1
# torchlibrosa==0.0.9
# torchvision==0.9.1+cu111
tqdm
transformers
typing-extensions
urllib3
zipp
webdataset
braceexpand
importlib_resources
hydra-core
ftfy
wget
